@use "sass:color";

$white: #ffffff;
$black: #000000;
$primary1: #1c1c1c;
$primary2: #997029;
$verybuttoncololr: #5654BF;
$dangerolor: #6b0606;

// import fonts

// fontAwesome
@import url("font-awesome.min.css");

@mixin main-font {
  font-family: "Poppins", sans-serif;
}

@mixin second-font {
  font-family: "Poppins", sans-serif;
}

// btn style
@mixin hero_btn($col1, $col2, $pad1, $pad2) {
  display: inline-block;
  padding: $pad1 $pad2;
  background-color: $col1;
  color: $col2;
  transition: all 0.3s;
  border: 1px solid transparent;

  &:hover {
    background-color: transparent;
    border-color: $col1;
    color: $col1;
  }
}

//  end btn style
@mixin upperBold {
  text-transform: uppercase;
  font-weight: bold;
}

body {
  @include main-font;
  color: #0c0c0c;
  background-color: #ffffff;
}

button {
  border-radius: 0;
  border-radius: 0;
}

.btn {
  text-transform: uppercase;
  padding: 8px 35px;
  outline: none;
  border: none;
  color: #ffffff;
}

.btn-primary {
  background: $primary2;  
}

.btn-secondary {
  background: $primary1;
}

.register-page-banner {
  height: 250px;
  overflow: hidden;
  margin: 30px 0 20px;
}

.verify-button {
  background-color: $verybuttoncololr;
  border-color: $verybuttoncololr;
  padding: 15px 30px;
  display: flex;
  text-align: left;
  margin: 20px 0;
  border-radius: 0;
  font-size: 12px;

  .icon {
    font-size: 30px;
    margin-right: 15px;
  }

  .text {
    h4 {
      font-size: 20px;
      margin: 0;
    }
  }

  &:hover {
    background-color: color.scale($verybuttoncololr, $lightness: 10%);
    border-color: color.scale($verybuttoncololr, $lightness: 10%);
  }
}

.container-fluid {
  max-width: 1280px;
}

.contact_link-container > span {
  color: #fff;
  display: flex;

  a {
    position: relative;

    &.active:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: $primary2;
      bottom: 0;
    }
  }

  span.divider {
    margin: auto 10px;
  }
}

.navbar-brand > span > img {
  height: 65px;
}

.login_link, .login_link:hover, .login_link:focus {
  color: $white;
  background-color: $primary2;
  outline: 1px;
  border: none;
  margin-left: 20px;
  padding: 4px 20px;
  display: inline-block;
  border-radius: 0;
}

.login_details {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: flex;
  flex-direction: column;

  h2 {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;

    &::before {
      content: "";
      width: 40px;
      height: 7px;
      background-color: $primary2;
      border-radius: 10px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &.heading_center {
    align-items: center;
    text-align: center;

    h2 {
      &::before {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

/*header section*/
.hero_area {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

}

.hero_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  display: flex;
  justify-content: center;

  .img-box {
    width: 100%;

    img {
      min-width: 100%;
      min-height: 100%;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.35));
  }
}

.sub_page {
  .hero_area {
    min-height: auto;
  }

  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    padding-bottom: 21px;
  }
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {
  padding: 0;
  box-shadow: #dadada 0 1px 5px;
  color: $white;

  .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }

  .nav_container {
    margin: 0 auto;
  }
}

.header_top {
  background-color: $primary1;

  .contact_link-container {
    display: flex;
    justify-content: space-between;

    a {
      display: flex;
      align-items: center;
      color: $white;
      font-size: 15px;

      i {
        font-size: 20px;
        color: $primary2;
        margin-right: 5px;
      }

      &.login_link {
        background-color: $primary2;
        padding: 10px 20px;
      }
    }
  }
}

#navbarSupportedContent {
  justify-content: space-between;
}

.custom_nav-container {
  z-index: 99999;
  padding: 0;
  min-height: 96px;

  .navbar-nav {
    margin-left: auto;

    .nav-item {
      .nav-link {
        padding: 0;
        padding: 30px 20px 25px 20px;
        color: $black;
        text-align: left;
        text-transform: uppercase;
        transition: all .2s;

        & > span {
          display: block;
          font-size: 11px;
        }
      }

      &:hover .nav-link,
      & .nav-link.active {
        color: $white;
        background-color: $primary1;
      }
    }
  }

}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    font-weight: bold;
    color: $white;
    font-size: 24px;
  }
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  transition: all 0.3s;

  span {
    display: block;
    width: 32px;
    height: 4px;
    background-color: $white;
    border-radius: 15px;
    margin: 7px 0;
    transition: all 0.3s;
    position: relative;
    transition: all 0.3s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $white;
      border-radius: 15px;
      top: -10px;
      transition: all 0.3s;
    }

    &::after {
      top: 10px;
    }
  }

  &[aria-expanded="true"] {
    transform: rotate(360deg);

    span {
      transform: rotate(45deg);

      &::before,
      &::after {
        transform: rotate(90deg);
        top: 0;
      }
    }
  }

}


/*end header section*/

@media (max-width: 992px) {
  .slider_section {
      padding: 0;
  }
}

/* slider section */
.slider_section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $white;
  background: rgb(191,168,125);
  background: linear-gradient(90deg, rgb(178 146 108) 50%, rgb(28, 28, 28) 50%);

  .row {
    align-items: center;
  }

  .banner {
    background-image: url("../images/image-bg.jpg");
    background-repeat: no-repeat;
    background-size: 1800px;
    background-position: -750px -55px;
  }

  .image-box {
    background: rgb(178,146,108);
    background: linear-gradient(90deg, rgba(178,146,108,1) 3%, rgba(0,0,0,0) 24%);
    height: 531px;
    position: relative;
  }

  .side-box {
    padding: 70px 25px 0;
    height: 531px;
    background: rgba(28,28,28,1);

    hr {
      border: 1px solid $white;
    }
  }

  .detail-box {
    width: 50%;
    left: 32px;
    bottom: 110px;
    margin: 0 auto;
    position: absolute;

    h1 {
      text-transform: uppercase;
      font-size: 2rem;
      color: $white;
      font-weight: 600;

      span {
        color: #fdf3d6;
      }
    }

    p {
      margin-top: 25px;
    }

    .btn-box {
      display: flex;
      margin-top: 30px;

      a {
        width: 180px;
        text-align: center;
        margin: 5px;
      }

      .btn-1 {
        @include hero_btn($white, $black, 10px, 35px);
      }

      .btn-2 {
        @include hero_btn($primary2, $white, 10px, 35px);
      }
    }
  }

  .img-box {
    display: flex;

    img {
      width: 100%;
    }
  }

  #carouselExampleIndicators {}

  .carousel-item.active {
    // background-image: url("../images/image-bg.jpg");
    // background-repeat: no-repeat;
    // background-size: 1800px;
    // background-position: 0 -55px;
  }

  .idicator_container {
    position: relative;
  }

  ol.carousel-indicators {
    margin: 0;
    bottom: -75px;
    justify-content: flex-end;

    li {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      text-align: center;
      background-color: $primary2;
      opacity: 1;
      border: none;
      margin: 0 4px;

      &.active {
        background-color: $white
      }
    }
  }
}

// end slider section

// about section

.about_section {
  .container-fluid {
    padding: 0 25px;
  }

  .user-profile {
    .row {
      align-items: flex-start;
    }

    ul.accounts-list {
      list-style: none;
      margin: 30px 0 0;
      padding: 0;

      & > li {
        margin-bottom: 20px;

        & > .row > .col-md-4:last-child {
          text-align: right;
        }

        span {
          font-weight: normal;
          font-style: normal;
          font-size: 14px;
          color: color.scale($black, $lightness: 60%);

          i.fa {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .img_container {
    .img-box {
      img {
        width: 100%;
      }
    }

  }

  .detail-box {
    background-color: $white;
    padding: 50px;
    box-shadow: 0 0 5px 0 rgba($color: #000000, $alpha: .15);
    position: relative;
    margin-top: 25px;

    p {
      margin-top: 5px;
    }

    a {
      @include hero_btn($primary2, $white, 10px, 35px);
      text-transform: uppercase;
    }

    h5 {
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
  }

  .details-list {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 15px;
    }
  }

  .form-buttons {
    margin-top: 40px;
    display: flex;

    .cancel-button {
      background-color: $primary1;
    }

    .cancel-button:hover {
      border-color: $primary1;
      color: $primary1;
    }
  }
}

// end about section

// service section

.service_section {
  background-color: $primary1;

  .heading_container {
    color: $white;
  }

  .box {
    background-color: $white;
    padding: 25px 15px;
    text-align: center;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    margin-top: 45px;

    .img-box {
      svg {
        width: 75px;
        height: auto;
        fill: $primary1;
      }
    }

    .detail-box {
      margin-top: 25px;

      h6 {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
      }

      h5 {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
      }

      a {
        @include hero_btn($primary2, $white, 8px, 35px);
        text-transform: uppercase;
        margin-top: 10px;
      }
    }
  }
}

// end service section

// client section
.client_section {
  text-align: center;

  #carouselExampleControls {
    padding: 0 10%;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;

    .img-box {
      width: 145px;

      img {
        width: 100%;
      }
    }

    .detail-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;

      h4 {
        font-weight: bold;
        font-size: 18px;
        padding: 0 10px;
        border-bottom: 1px solid $white;
      }

      p {
        margin-top: 10px;
      }
    }
  }

  .carousel_btn-box {
    display: flex;
    justify-content: center;
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    width: 45px;
    height: 45px;
    border: none;
    opacity: 1;
    background-color: $primary1;
    color: $white;
    border-radius: 100%;
    transform: translateY(-50%);
    font-size: 18px;

    &:hover {
      background-color: $primary2;
    }
  }

  .carousel-control-prev {
    left: 0;
  }

  .carousel-control-next {
    left: initial;
    right: 0;
  }
}

// end client section

/* contact section */
.contact_section {
  position: relative;
  color: $black;

  .heading_container {
    color: $black;
  }

  .row {
    align-items: center;
  }

  .contact_form-container {
    margin-top: 35px;

    label {
      text-transform: uppercase;
    }

    input, select {
      border: 1px solid color.scale($black, $lightness: 80%);
      outline: none;
      color: $black;
      height: 45px;
      width: 100%;
      margin: 0 0 20px;
      padding-left: 15px;
      background-color: $white;

      &::placeholder {
        color: color.scale($black, $lightness: 80%);
      }

      &.message_input {
        height: 120px;
      }

      &:focus {
        border-color: color.scale($black, $lightness: 5%);
      }
    }

    .country-select {
      margin-bottom: 20px;

      & > div > div {
        border: none;
        border-radius: 0;
      }

      fieldset {
        border: 1px solid color.scale($black, $lightness: 80%);
      }

      &.Mui-expanded {
        fieldset {
          border-color: color.scale($black, $lightness: 5%);
        }
      }

      input {
        border: none;
        margin: 0;
        height: 15px;

        &::placeholder {
          color: color.scale($black, $lightness: 80%);
          opacity: 1;
        }
      }
    }

    .btn-box {
      display: flex;
      justify-content: center;
      margin-top: 25px;
    }

    button:not(.MuiButtonBase-root) {
      @include hero_btn($primary2, $white, 10px, 60px);
      text-transform: uppercase;
      font-weight: bold;
      outline-color: $primary2;
      width: 100%;
      margin-bottom: 20px;

      &.secondary {
        background-color: $primary1;
        outline-color: $primary1;
        color: $white;
      }
    }

    &.profile-edit {
      color: $black;
      margin-top: 0;

      input, select {
        margin: 0;
      }

      .password-validation {
        margin-top: 20px;
      }

      label {
        color: $black;
      }
    }
  }

}


.contact_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .img-box {
    width: 100%;

    img {
      min-width: 100%;
      min-height: 100%;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0.35));
  }
}



/* end contact section */

// team section

.team_section {
  .box {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 45px;
    position: relative;

    .img-box {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .detail-box {
      position: absolute;
      width: 100%;
      color: $white;
      padding: 25px 15px;
      text-align: center;
      bottom: 0;
      background-color: rgba($color: $primary1, $alpha: .75);
    }
  }

  .btn-box {
    display: flex;
    justify-content: center;
    margin-top: 45px;

    a {
      @include hero_btn($primary2, $white, 10px, 45px);
    }
  }
}

// end team section


// info section
.info_section {
  background-color: #101010;
  color: $white;
  padding: 75px 0 10px 0;

  .row>div {
    margin-bottom: 25px;
  }

  h5 {
    margin-bottom: 25px;
    font-size: 24px;
  }

  .info_logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .navbar-brand {
      padding: 0;
      margin-bottom: 20px;

      span {
        font-size: 24px;
        color: $white;
      }
    }
  }

  .info_links {

    ul {
      padding: 0;

      li {
        list-style-type: none;

        a {
          color: $white;
        }
      }
    }
  }

  .info_contact {
    display: flex;
    flex-direction: column;

    a {
      color: $white;
      margin-bottom: 10px;

      i {
        font-size: 20px;
        margin-right: 5px;
      }
    }
  }

  .info_form {
    form {
      input {
        outline: none;
        border: none;
        width: 100%;
        padding: 7px 10px;
      }

      button {
        padding: 8px 35px;
        outline: none;
        border: none;
        color: $white;
        background: $primary2;
        margin-top: 15px;
        text-transform: uppercase;
      }
    }

    .social_box {
      margin-top: 25px;
      width: 100%;
      display: flex;

      a {
        margin-right: 10px;
        color: $white;
        font-size: 20px;
      }
    }
  }

}

// end info section

.account-options-list {
  list-style: none;
  padding: 0;
  display: flex;
  margin-top: 30px;
  gap: 20px;

  li {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    gap: 10px;
    border: 1px solid color.scale($black, $lightness: 90%);
    padding: 15px;
    cursor: pointer;

    i.fa {
      font-size: 35px;
      color: color.scale($black, $lightness: 50%);
    }

    &:hover {
      background-color: color.scale($black, $lightness: 98%);
    }
  }
}

.danger-zone {
  margin-top: 50px;
  border: 1px solid $dangerolor;
  padding: 30px;

  h5 {
    color: $dangerolor;
  }
}

input[type="password"]:focus ~ .password-validation {
  display: block;
}

.password-validation {
  list-style: none;
  padding: 0;
  color: color.scale($black, $lightness: 60%);
  margin-bottom: 30px;
  transition: all 0.3s;
  display: none;
  
  li {
    margin: 0 !important;

    i {
      margin-right: 10px;
    }
  }
}

.close-account-button {
  background: $dangerolor !important; 
  color: $white; 
  padding: 12px 20px; 
  font-size: 16px;
  border: none; 
  text-align: center;
  margin-top: 20px;

  &:hover {
    background-color: color.scale($dangerolor, $lightness: 40%);
    color: $white !important;
  }
}

/* footer section*/

.footer_section {
  font-weight: 500;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #101010;
}

.footer_section p {
  color: rgba($color: #fefeff, $alpha: .7);
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: rgba($color: #fefeff, $alpha: .7);
}

/* end footer section*/